﻿@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.eot'); /* IE9 Compat Modes */
  src: local('Muller'), local('Muller-Light'),
  url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/MullerLight.woff') format('woff'), /* Modern Browsers */ url('../fonts/MullerLight.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/MullerLight.svg#Muller') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.eot'); /* IE9 Compat Modes */
  src: local('Muller'), local('Muller-Regular'),
  url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/MullerRegular.woff') format('woff'), /* Modern Browsers */ url('../fonts/MullerRegular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/MullerRegular.svg#Muller') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.eot'); /* IE9 Compat Modes */
  src: local('Muller Medium'), local('Muller-Medium'),
  url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/MullerMedium.woff') format('woff'), /* Modern Browsers */ url('../fonts/MullerMedium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/MullerMedium.svg#Muller') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MullerBold.eot'); /* IE9 Compat Modes */
  src: local('Muller Bold'), local('Muller-Bold'),
  url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerBold.woff') format('woff'), /* Modern Browsers */ url('../fonts/MullerBold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/MullerBold.svg#Muller') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat-v12-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v12-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v12-cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v12-cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/montserrat-v12-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v12-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v12-cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v12-cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/montserrat-v12-cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v12-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v12-cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat-v12-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v12-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v12-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v12-cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}