@import url("normalize.less");
@import url("fonts.less");
@import url("mixins.less");
@import url("variables.less");
@import url("vendor/slick.less");
@import url("vendor/slick-theme.less");
@import url("vendor/select2.less");
@import url("vendor/select2-theme.less");
@import url("vendor/footable-theme.less");
@import url("fonts-awesome/regular");
@import url("fonts-awesome/solid");
@import url("fonts-awesome/fontawesome");
@import url("fonts.less");
@import url("vendor/datepicker.min.less");
@import url("vendor/iziModal.min.less");
@import url("vendor/lightbox.min.less");

/* * * * * * * * * * *
*                    *
* Global             *
*                    *
* * * * * * * * * * */
html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  font-family: 'Muller', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-width: 320px;
  background: #f4f4f4;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #fff;

  &__content {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;

  @media @desktop {
    padding: 0 15px;

    &_no-pad {
      padding: 0;
    }
  }
}

.page-title {
  line-height: 46px;
  font-size: 46px;
  color: #232121;

  @media @tablet {
    font-size: 32px;
    line-height: 32px;
  }
}

.map {
  height: 400px;
}

#fade {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  opacity: .8;
  background-color: #000;
}

a {
  &:focus {
    outline: none;
  }
}

/* * * * * * * * * * *
*                    *
* Components         *
*                    *
* * * * * * * * * * */
@import url("components/btn.less");
@import url("components/header.less");
@import url("components/city-choose.less");
@import url("components/header-menu.less");
@import url("components/slider.less");
@import url("components/slide.less");
@import url("components/tabs.less");
@import url("components/section.less");
@import url("components/article.less");
@import url("components/footer-menu.less");
@import url("components/footer.less");
@import url("components/copyright-block.less");
@import url("components/social.less");
@import url("components/contacts-block.less");
@import url("components/mobile-menu.less");
@import url("components/breadcrumbs.less");
@import url("components/cart.less");
@import url("components/cart-table.less");
@import url("components/jobs-tabs.less");
@import url("components/job-accordion.less");
@import url("components/text-page.less");
@import url("components/job-details-block.less");
@import url("components/side-bar.less");
@import url("components/help-block.less");
@import url("components/succes-slider.less");
@import url("components/pagination.less");
@import url("components/not-found.less");
@import url("components/input-field.less");
@import url("components/form-block.less");
@import url("components/year-slider.less");
@import url("components/stairs.less");
@import url("components/resume-block.less");
@import url("components/content-head.less");
@import url("components/modal.less");
@import url("components/success.less");

