.article {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__text-wrap {
    flex: 1;
    padding: 20px 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 262px;
  }

  &__btn {
    margin-top: auto;
    align-self: flex-end;
  }

  &__image {
    flex: 1;

    img {
      .size(100%);
      object-fit: cover;
    }
  }

  &__title {
    line-height: 27px;
    font-size: 22px;
    color: #232121;
    display: block;
    margin: 0 0 10px 0;
  }

  &__table-title {
    line-height: 46px;
    font-size: 38px;
    color: #232121;
    display: block;
    margin-top: 0;
  }

  &__text {
    line-height: 25px;
    font-size: 16px;
    color: #404041;
    width: 100%;
  }

  &__cart {
    width: ~"calc(50% - 10px)";
    background: #F2F2F2;
    margin: 20px 20px 0 0;
    height: 305px;
    display: flex;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  &__slider-controls {
    box-sizing: border-box;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  &__slider-arrow {
    background-image: url("../../img/arrow-pointing-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .size(28px, 20px);

    &_prev {
      transform: rotate(180deg);
    }
  }

  &__numbers-wrap {
    line-height: 40px;
    color: #404041;
  }

  &__slider-number {
    font-size: 26px;
    font-weight: bold;

    &:after {
      content: "/";
    }
  }

  &__slider-quantity {
    font-size: 18px;
    opacity: 0.8;
    position: relative;
    left: -4px;
  }

  @media @desktop {
    &__table-title {
      padding: 0 15px;
      margin: 0;
      font-size: 26px;
    }

    &__inner {
      padding-bottom: 60px;
    }

    &__slider-controls {
      display: flex;
    }

    &__image {
      flex: 0 0 250px;
      height: 250px;
    }

    &__btn {
      margin-top: auto;
      align-self: flex-start;
    }

    &__cart {
      margin: 20px 0 0 0;
      width: 100%;
      height: auto;
      flex-direction: column;

      &:nth-child(2n) {
        margin: 20px 0 0 0;
      }
    }
  }
}