.breadcrumbs {

  &__inner {
    padding-left: 0;
  }

  &__item {
    line-height: 18px;
    font-size: 13px;
    color: #AAAAAA;
    position: relative;
    list-style-type: none;
    display: inline;

    &:not(:last-child) {
      &:after {
        padding: 0 10px;
        content: '  › ';
      }
    }
  }

  &__link {
    line-height: 18px;
    font-size: 13px;
    color: #AAAAAA;
    text-decoration: none;
  }
}
