.btn {
  background: #EF2D56;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease-out;
  position: relative;
  font-family: 'Montserrat';
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  text-align: center;
  font-weight: 500;

  &:focus {
    outline: none;
  }

  &_color {
    &_yellow {
      background: #FFE03F;
      color: #4F4F4F;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #FFE03F;
        box-shadow: none;
      }
    }

    &_red {
      background: #F44336;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #F44336;
        box-shadow: none;
      }
    }

    &_gray {
      background: #5f5f5f;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #747474;
        box-shadow: none;
      }
    }

    &_blue {
      background: #0070C9;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #0070C9;
        box-shadow: none;
      }
    }

    &_invert-orange {
      border: 1px solid #F44336;
      box-sizing: border-box;
      border-radius: 6px;
      background: #fff;
      font-weight: 500;
      line-height: 19px;
      font-size: 16px;
      text-align: center;
      color: #F44336;

      &:hover {
        background: #F44336;
        box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        color: #fff;
      }
    }
  }

  &_font {
    &_light {
      font-weight: 400;
    }

    &_normal {
      font-weight: 500;
    }
  }

  &_margined {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &:hover {
    z-index: 2;
  }

  &:active {
    transform: scale(0.99, 0.99);
    opacity: 0.8;
  }

  @media @desktop {
    padding: 8px 9px;
    font-size: 14px;
  }
}