.cart-table {
  margin: auto;

  @media @desktop {
    &_size {
      &_big {
        width: 773px;
      }

      &_little {
        width: 600px;
      }
    }

    &_with-controls {
      padding-bottom: 60px;
    }
  }

  @media (max-width: 773px) {
    &_size {
      &_big {
        width: 352px;
      }
    }
  }

  @media (max-width: 630px) {
    &_size {
      &_little {
        width: 295px;
      }
    }
  }

  @media @mobile {
    width: 100%;
  }
}