.cart {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #fff;

  &__text {
    line-height: 25px;
    font-size: 16px;
    color: #404041;
  }

  &_size {
    &_big {
      .size(370px, 325px);
      margin-bottom: 26px;
      margin-right: 26px;

      .cart__text-block {
        padding: 17px 20px;
        background: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform, bottom .3s ease-in-out;

        &_size {
          &_half {
            bottom: -100px;
            height: 200px;
          }

          &_full {
            bottom: -200px;
            height: 100%;
          }

          &_static {
            height: 130px;
            bottom: 0px;
          }
        }
      }

      &:not(.cart_type_static):before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 50px;
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 75%);
        transition: background, height .15s ease;
        width: 100%;
        z-index: 10;
      }

      &:not(.cart_type_static):hover {
        &:before {
          background: none;
          height: 0;
        }

        .cart__image {
          transform: scale(1.1) translateY(-50px);
        }

        .cart__text-block {
          bottom: 0;
        }
      }
    }

    &_big-v {
      .size(370px, 424px);
      margin-bottom: 26px;
      margin-right: 26px;

      .cart__text-block {
        padding: 17px 20px;
        background: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform, bottom .3s ease-in-out;

        &_size {
          &_full {
            bottom: -200px;
            height: 100%;
          }
        }
      }

      &:not(.cart_type_static):hover {
        &:before {
          background: none;
          height: 0;
        }

        .cart__image {
          transform: scale(1.1) translateY(-50px);
        }

        .cart__text-block {
          bottom: 0;
        }
      }
    }

    &_little {
      .size(275px, 390px);
      margin: 19px 19px 0 0;

      &:last-child {
        margin-right: 0;
      }

      .cart__text-block {
        box-sizing: border-box;
        height: 190px;
        background: #fff;
        padding: 17px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .cart__image {
        height: 190px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__image {
    transition: transform .3s ease;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    line-height: 27px;
    font-size: 22px;
    color: #232121;
    margin: 0 0 10px 0;
  }

  &__title-link {
    text-decoration: none;
  }

  &__date {
    line-height: 25px;
    font-size: 16px;
    color: #BDBDBD;
    margin: 0;
  }

  &__link {
    margin-bottom: 10px;
    display: none;
    font-weight: 500;
    line-height: 17px;
    font-size: 14px;
    text-decoration-line: underline;
    color: #F44336;
  }

  &__subtitle {
    line-height: 25px;
    font-size: 16px;
    color: #7F7F7F;
    margin: 0;
  }

  &__btn {
    margin-top: auto;
  }

  &_image-only {
    .cart__image-big {
      height: 100%;

      img {
        .size(100%);
        object-fit: cover;
      }
    }
  }

  @media (min-width: 1170px) {
    &_size {
      &_big-v {
        &:last-of-type {
          margin-right: 0;
        }
      }

      &_big {
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }

  @media @desktop {
    &_size {
      &_big {
        margin: 5px;
      }

      &_big-v {
        margin: 5px;
      }
    }
  }

  @media @mobile {
    width: 100%;
    margin: 5px 0;

    &_size {
      &_little {
        height: 145px;

        .cart__text-block {
          height: 100%;
          line-height: 25px;
          font-size: 16px;
        }

        .cart__title {
          line-height: 25px;
          font-size: 20px;
        }

        .cart__image {
          display: none;
        }

        .cart__btn {
          display: none;
        }

        .cart__link {
          display: inline-block;
        }

        .cart__subtitle {
          margin-top: auto;
        }
      }
    }
  }
}

