.city-choose {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &__city {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: background .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    padding: 0 28px 0 14px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 15;

    &:after {
      background: url("../../img/up-arrow.svg") no-repeat;
      content: "";
      .size(8px);
      position: absolute;
      top: ~"calc(50% - 4px)";
      right: 14px;
      transform: rotate(180deg);
      transition: transform .15s, top .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }

    &:hover {
      background: rgba(3, 72, 153, 0.7);
    }

    &.active {
      background: #034899;

      &:after {
        top: ~"calc(50% - 3px)";
        transform: rotate(0deg);
      }
    }
  }

  &__location-icon {
    color: #F44336;
  }

  &__link {
    line-height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: text-shadow, font-weight .15s ease;

    &_active {
      font-weight: bold;
    }

    &:hover {
      font-weight: bold;
    }
  }

  &__title {
    line-height: 31px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 22px 0;
  }

  &__dropdown {
    display: none;
    top: 100%;
    box-sizing: border-box;
    position: absolute;
    background: #034899;
    padding: 20px 20px 22px 30px;
    z-index: 10;
    width: 285px;
    left: 0;
    z-index: 15;
  }

  &__dropdown-inner {
    display: flex;
    flex-direction: column;
  }

  &__location-icon {
    padding-right: 6px;
  }
}