.contacts-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &_header {
    margin: 30px 0;
  }

  &__telephone {
    line-height: 31px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__telephone-title {
    margin: 10px 0 4px 0;
    line-height: 31px;
    font-size: 15px;
    color: #FFFFFF;
  }

  &__social {
    padding-top: 20px;
  }

  &__btn {
    width: 100%;
    box-sizing: border-box;
  }

  &_header {
    align-items: center;
  }
}