.copyright-block {
  background: #011B3E;
  height: 92px;
  line-height: 24px;
  font-size: 14px;
  color: #FFFFFF;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__copyright {

  }

  &__mobile-link {
    margin-left: auto;
    line-height: 24px;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 53px;

    &.unactive {
      display: none;
    }
  }

  @media @desktop {
    height: auto;

    &__inner {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }

    &__mobile-link {
      margin: 11px 0;
    }
  }

  @media (min-device-width: 1190px) {
    &__mobile-link {
      display: none!important;
    }

    &__inner {
      justify-content: space-between;
    }
  }
}