.footer-menu {
  box-sizing: border-box;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 337px;
  }

  &__inner {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    line-height: 30px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  &__title {
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;

    &_type {
      &_text {
        margin: 0 0 20px 0;
      }

      &_link {
        display: none;
        text-decoration: none;

        &:after {
          background: url("../../img/up-arrow.svg") no-repeat;
          content: "";
          .size(8px);
          position: absolute;
          top: ~"calc(50% - 4px)";
          right: 14px;
          transform: rotate(180deg);
          transition: transform .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }

        &.active {
          &:after {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  @media (min-width: 1186px) {
    &__inner {
      display: block!important;
    }
  }

  @media @desktop {
    border-bottom: 1px solid #3869AF;
    width: 100%;
    padding: 19px 20px 16px 20px;

    &__inner {
      padding-top: 15px;
      display: none;
    }

    &__title {
      line-height: 19px;
      font-size: 16px;
      color: #FFFFFF;
      position: relative;

      &_type {
        &_text {
          display: none;
        }

        &_link {
          display: block;
        }
      }
    }
  }
}