.footer {
  background: #062E66;
  margin-top: auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {
    width: 195px;
  }

  @media @desktop {
    &__logo {
      display: none;
    }

    &__inner {
      padding-top: 0;
      flex-direction: column;
    }

    &__contacts {
      padding: 20px;
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
}