.form-block {
  max-width: 610px;

  &_modal {
    padding: 0;
  }

  &__title {
    line-height: 25px;
    font-size: 15px;
    color: #000000;
    max-width: 450px;
    font-weight: normal;
  }

  &__heading {
    line-height: 27px;
    font-size: 22px;
    color: #232121;
  }

  &__inner {
    display: flex;
    justify-content: center;

    &_modal {
      flex-direction: column;
    }
  }

  &__column {
    &_little {
      max-width: 370px;
    }

    & + & {
      padding-left: 20px;
    }

    flex: 1;
  }

  &__input-field {
    padding: 12px 0;
    box-sizing: border-box;

    &_select {
      display: flex;
      align-items: center;
    }

    &_downly {
      margin-top: 30px;
    }

    &_upper {
      margin-bottom: 30px;
    }

    &_textarea {
      height: 100%;
    }
  }

  &__text {
    line-height: 25px;
    font-size: 16px;
    color: #404041;
  }

  &__nda-link {
    color: #0a3f5a;
  }

  &__nda-block {
    margin: 68px 0 31px 0;
  }

  &__sub-element {
    display: flex;
    justify-content: center;
  }

  @media @tablet {
    padding: 10px;

    &__inner {
      flex-direction: column;
    }

    &__column {
      &_little {
        max-width: unset;
      }

      & + & {
        padding: 0;
      }
    }
  }

  @media @mobile {
    &__input-field {
      &_select {
        flex-direction: column;
        align-items: flex-start;
      }

      &_position {
        &_row {
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}