.header-menu {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  padding-right: 20px;

  &_type {
    &_mobile {
      flex-direction: column;
      padding: 0;
      list-style: none;
    }

    &_mobile-start {
      flex-direction: column;
      padding: 0;
      list-style: none;
    }
  }

  &__item {
    &_type {
      &_desktop {
        transition: background-color .15s cubic-bezier(0.46, 0.03, 0.52, 0.96);

        &:hover {
          background-color: #034899;
        }
      }

      &_mobile {
        border-top: 1px solid #5897E0;

        &:last-child {
          border-bottom: 1px solid #5897E0;
        }
      }

      &_mobile-start {
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &_type {
      &_desktop {
        padding: 0 14px;
        height: 100%;
        display: flex;
        align-items: center;
      }

      &_mobile-start {
        display: block;
        position: relative;
        font-weight: normal;
        list-style: none;
        line-height: 35px;
        font-size: 16px;
        transition: font-weight .3s ease;

        &:hover {
          font-weight: bold;
        }
      }

      &_mobile {
        line-height: 60px;
        display: block;
        position: relative;
        font-weight: normal;
        list-style: none;

        &:before {
          position: absolute;
          right: 20px;
          top: 25px;
          background: url("../../img/up-arrow.svg") no-repeat;
          content: "";
          .size(8px);
          transform: rotate(90deg);
        }
      }
    }
  }

  &_assignment {
    &_city {
      display: none;
    }
  }

  &__title {
    line-height: 31px;
    font-size: 20px;
    color: #FFFFFF;
  }

  @media @desktop {
    &_type_desktop {
      display: none;
    }
  }
}