.header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 41.6%, rgba(255, 255, 255, 0.27) 100%), #034899;
  color: #fff;
  border-top: 15px solid #011B3E;
  height: 112px;
  box-sizing: border-box;

  &__city-choose {
    margin-left: 18px;
  }

  &__inner {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }

  &__header-menu {
    margin: 0 0 0 auto;
  }

  &__btn {
    align-self: center;
  }

  &__logo {
    position: relative;
    height: 100%;
    width: 202px;

    img {
      width: 100%;
    }
  }

  &__hamburger {
    background: url("../../img/hamburger.svg") no-repeat;
    .size(20px, 17px);
    display: none;
    margin-right: 10px;
  }

  &__logo-text {
    position: absolute;
    right: 0;
    bottom: 16px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
  }

  @media @desktop {
    height: 65px;
    border: none;

    &__inner {
      align-items: center;
    }

    &__logo {
      width: 100px;
      height: auto;
    }

    &__logo-text {
      font-size: 13px;
      bottom: 0;
    }

    &__city-choose {
      display: none!important;
    }
    
    &__hamburger {
      display: block;
    }

    &__btn {
      margin: 0 0 0 auto;
      padding: 5px;
    }
  }
}