.help-block {
  padding-left: 65px;
  padding-top: 1px;
  position: relative;

  &:before {
    background: url("../../img/icon-consultation.svg") no-repeat;
    background-size: contain;
    .size(50px);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }

  &__title {
    line-height: 27px;
    font-size: 15px;
    color: #767676;
  }

  &__tel-link {
    font-weight: 300;
    line-height: 26px;
    font-size: 20px;
    color: #404041;
    display: block;
    text-decoration: none;
  }
}