.input-field {
  position: relative;

  &_size {
    &_small {
      max-width: 330px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    position: relative;

    &_type {
      &_date {
        color: #EF2D56;

        &:before {
          content: "";
          position: absolute;
          right: 11px;
          bottom: 11px;
          background: url("../../img/calendar.svg") no-repeat;
          background-size: contain;
          .size(14px, 18px);
        }
      }
    }
  }

  &__label-text {
    line-height: 25px;
    font-size: 16px;
    color: #828282;
    display: block;
    width: 140px;
    flex: 0 0 140px;
  }

  &_radio {
    display: flex;
  }

  &__radio {
    position: relative;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;
    }

    &_last {
      margin-left: 10px;
    }
  }

  &__radio-text {
    position: relative;
    padding: 0 0 0 28px;
    cursor: pointer;
    line-height: 25px;
    font-size: 16px;
    color: #404041;

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
    }

    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      background: #0070C9;
      opacity: 0;
      transition: .2s;
      top: 2px;
      left: 5px;
      width: 10px;
      height: 10px;
    }
  }

  &__radio input:checked + &__radio-text:after {
    opacity: 1;
  }

  &__text {
    width: 100%;
    .size(100%, 40px);
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 17px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: #404041;
    transition: border .3s ease;

    &:disabled {
      background: #F9F9F9;
    }

    &:focus {
      outline: 0;
      border: 1px solid #989898;
    }

    &::placeholder {
      font-size: 15px;
      font-family: Muller;
      color: #BDBDBD;
    }

    &_textarea {
      height: 100%;
      padding-top: 9px;
      resize: vertical;
    }

    &.error {
      border: 1px solid #EF2D56;
    }
  }

  &__file {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__radio-group {

    &_type {
      &_vertical {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;

    & + label {
      position: relative;
      padding: 0 0 0 32px;
      cursor: pointer;
    }

    & + label:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      left: 0;
      .size(17px);
      border-radius: 4px;
      border: 1px solid #0070C9;
      top: -2px;
    }

    &.error + label:before {
      box-shadow: inset 0 2px 3px rgba(183, 0, 15, 0.2);
      border: 1px solid #b70000;
    }

    &:checked + label:before {
      border: 1px solid #0070C9;
      background-color: #fff;
      background-image: url("../../img/checkbox.png");
      background-position: center;
    }
  }

  &__select {
    width: 100%;
  }

  label.error {
    font-size: 13px;
    color: #EF2D56;
    position: absolute;
    bottom: -16px;
    text-align: right;
    display: block;
    width: 100%;
    left: 0;
  }

  @media @mobile {
    &__label {
      flex-direction: column;
      align-items: flex-start;
    }

    &__label-text {
      flex: auto;
    }

    &_radio {
      flex-direction: column;
      align-items: flex-start;
    }

  }
}