.job-details-block {
  margin-top: 20px;

  &__inner {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    margin-bottom: 23px;
  }

  &__information {
    &_type {
      &_money {
        margin-left: 56px;
      }
    }
  }

  &__information-name {
    line-height: 23px;
    font-size: 15px;
    color: #C4C4C4;
    margin: 0;
  }

  &__information-text {
    line-height: 31px;
    font-size: 20px;
    color: #404041;
    margin: 0;
  }

}