.job-accordion {
  padding-bottom: 2px;

  &__item {
    margin-bottom: 2px;
  }

  &__title {
    background: #fff;
    padding: 26px 78px 28px 45px;
    line-height: 27px;
    font-size: 22px;
    color: #0070C9;
    position: relative;
    margin: 0;
    display: block;
    text-decoration: none;
    transition: transform .15s ease;

    &:hover {
      transform: scale(1.01);
    }

    &:after {
      background: url("../../img/arrow-blue.svg") no-repeat;
      background-size: contain;
      content: "";
      .size(13px);
      position: absolute;
      top: ~"calc(50% - 4px)";
      right: 14px;
      transition: all .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }

    &.active {
      &:after {
        transform: rotate(180deg);
        top: calc(50% - 8px);
      }
    }

    &_type {
      &_hot {
        padding-left: 71px;

        &:before {
          position: absolute;
          content: "";
          left: 35px;
          background: url("../../img/hot.svg") no-repeat;
          background-size: contain;
          .size(19px, 28px);
        }
      }
    }
  }

  &__list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 15px 30px;
  }

  &__job-link {
    padding: 5px 0;
    line-height: 25px;
    font-size: 16px;
    color: #404041;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}