.jobs-tabs {
  background: #f4f4f4;
  padding: 26px 0;

  &__inner {
    display: flex;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    list-style: none;
    padding: 0;
  }

  &__item {

  }

  &__link {
    line-height: 52px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: #0070C9;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    position: relative;
    bottom: -1px;
    text-decoration: none;
    display: block;
    transition: color .15s ease;

    &.active {
      color: #F44336;
      border-bottom: 1px solid #F44336;
    }

    &:hover {
      color: #F44336;
      border-bottom: 1px solid #F44336;
    }
  }

  @media @desktop {
    &__inner {
      border: none;
      justify-content: center;
    }

    &__link {
      border: 1px solid rgba(0, 112, 201, 0.2);
      line-height: 22px;
      padding: 20px;
      margin-left: -1px;

      &.active {
        border: 1px solid #F44336;
      }

      &:hover {
        border: 1px solid #F44336;
      }
    }
  }

  @media @mobile {
    padding: 15px;

    &__link {
      padding: 10px;
      height: 80px;
      display: flex;
      align-items: center;
    }
  }
}