.mobile-menu {
  min-width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 41.6%, rgba(255, 255, 255, 0.27) 100%), #034899;
  padding: 60px 20px 20px 20px;

  &.active {
    @media @desktop {
      display: block;
    }
  }

  &_start {
    padding-top: 10px;
    min-height: unset;
  }

  &__nav-bar {
    display: flex;
    padding: 37px 20px 13px 42px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.1);
  }

  &__contacts-block {
    padding: 29px 21px;
    margin-left: 0;
  }

  &__finder {
    margin: 37px 42px;
  }

  &__exit {
    .size(16px);
    content: "";
    position: absolute;
    right: 24px;
    top: 24px;
    background: url("../../img/icon-exit.svg") no-repeat;
    background-size: contain;
  }
}