.modal {
  box-sizing: border-box;
  border-bottom: 9px solid #062e66;
  border-radius: 0;

  &__inner {
    padding: 53px 77px 70px 77px;
  }

  &__close {
    position: absolute;
    content: '';
    .size(15px);
    background: url("../../img/icon-exit-blue.svg") no-repeat;
    background-size: contain;
    border: none;
    right: 10px;
    top: 10px;
  }


  &__link {
    font-family: Roboto;
    font-size: 14px;
    text-decoration-line: underline;
    color: #0A3F5A;

    &_remember-pass {
      margin: 14px 0 30px 0;
    }
  }

  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 28px 0;
    text-align: center;
  }

  &__btn {
    display: block;
    margin: auto;
  }

  &__city-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__city-link {
    color: #0A3F5A;
    padding: 10px;
  }


  @media @mobile {
    margin: auto 10px;

    &__inner {
      padding: 20px;
    }

    &_type {
      &_login {
        width: auto;
      }
    }
  }
}