.not-found {
  &__inner {
    font-weight: bold;
    line-height: 228px;
    font-size: 190px;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 413px;
    width: 100%;
    background: url("../../img/wall.png") no-repeat;
    background-size: contain;
  }

  &__sub-text {
    line-height: 27px;
    font-size: 22px;
    text-align: center;
    color: #404041;
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #BDBDBD;
    margin: 60px 0;
  }

  &__btn {
    margin-top: 60px;
  }

  &__link {
    line-height: 25px;
    font-size: 16px;
    color: #0070C9;
    text-decoration: none;
  }

  @media @desktop {
    &__inner {
      height: 330px;
    }
  }

  @media @tablet {
    &__inner {
      height: 230px;
      font-size: 100px;
    }
  }

  @media @mobile {
    &__inner {
      height: 150px;
      font-size: 50px;
    }
  }
}