.pagination {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;

  &__inner {
    max-width: 370px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    line-height: 30px;
    height: 28px;
    min-width: 28px;
    font-size: 16px;
    text-align: center;
    color: #7F7F7F;
    display: inline-block;
    text-decoration: none;

    &_active {
      background: #F44336;
      border-radius: 50%;
      color: #fff;
    }
  }
}