.resume-block {
  display: flex;
  align-items: center;

  &_reset {
    display: none;
  }

  &__text {
    max-width: 277px;

    &_reset {
      margin-right: 10px;
    }
  }

  &__btn {

  }

  @media @tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}