.section {
  padding: 40px 0 70px 0;
  background: #F4F4F4;

  &_little-pad {
    padding: 25px 0 25px 0;
  }

  &_not-top-pad {
    padding-top: 0;
  }

  &_video {
    padding-top: 0;
  }

  &__inner {
    &_many-column {
      display: flex;
    }
  }

  &_mobile {
    &_no-pad {
      padding: 0;
    }
  }

  &__side-bar {
    flex: 0 0 315px;
    margin-left: auto;
  }

  &__banner {
    width: 100%;
    margin: 40px 0;
  }

  &_treasure {
    background-image: url("../../img/bg-alterra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 147px 0;
  }

  &__cart {
    max-width: 580px;
    background: rgba(241, 241, 241, 0.92);
    padding: 45px 40px;
    box-sizing: border-box;
  }

  &__cart-title {
    line-height: 43px;
    font-size: 36px;
    color: #232121;
    margin: 0;
    font-weight: 500;
  }

  &__cart-btn {
    margin-top: 30px;
  }

  &__title {
    line-height: 46px;
    font-size: 38px;
    text-align: center;
    color: #232121;

    &_page {
      &_success {
        margin-top: 0;
      }
    }

    &_with-pad {
      padding-bottom: 50px;
    }

    &_align {
      &_left {
        text-align: left;
      }
    }
  }

  &__subtitle {
    line-height: 25px;
    font-size: 16px;
    color: #404041;
  }

  &_light {
    background: #E5E5E5;
  }

  &__tabs {
    margin-top: 40px;
  }

  &_gradient {
    background: linear-gradient(180deg, #e5e5e5 41px, #0070c9 0, rgba(0, 112, 201, 0.56) 348px, rgba(0, 112, 201, 0));
    padding-bottom: 0;
  }

  &_color {
    &_gradient-blue {
      background: linear-gradient(0deg, #0070c9 23.24%, #f4f4f4 82%);
    }

    &_white {
      background: #FFF;
    }

    &_none {
      background: none;
    }
  }

  &_jobs {
    padding-bottom: 53px;
  }

  @media @tablet {
    padding: 20px 0;

    &__inner {
      &_many-column {
        flex-direction: column;
      }
    }

    &__side-bar {
      width: 100%;
      flex: 1;
      margin-left: 0;
    }

    &_light {
      background: none;
    }

    &_gradient {
      background: linear-gradient(180deg, #0070C9 70%, rgba(0, 112, 201, 0) 100%);
    }

    &_treasure {
      padding: 20px 5px 97px 5px;
    }

    &__cart {
      width: 100%;
      padding: 29px 21px;
    }
  }
}