.side-bar {
  &_left {
    padding-right: 60px;
  }

  &_right {
    padding-left: 60px;
  }

  &__img {
    border-radius: 10px;
    margin: 12px;
    width: 100%;

    img {
      .size(100%);
      object-fit: contain;
    }
  }

  @media @tablet {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}