.slide {
  .size(100%);
  top: 0;
  left: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  &.show {
    position: relative;
    display: block;
    z-index: 5;
  }

  &__wrap-text {
    position: absolute;
    background: rgba(241, 241, 241, 0.92);
    width: 560px;
    left: 0;
    top: 73px;
    padding: 10px 27px 41px 50px;
  }

  &__title {
    line-height: 55px;
    font-size: 46px;
    color: #232121;
    margin: 10px 0;
    font-weight: 500;
  }

  &__video {
    .size(590px, 396px);
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 590px;
    position: relative;
    background: black;

    img {
      width: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .play {
      position: absolute;
      content: '';
      background: rgba(0, 0, 0, 0.3) url("../../img/play.svg") no-repeat center;
      background-size: 96px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity,transform .5s ease-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .stop {
      display: none;
      opacity: 0;
      position: absolute;
      content: '';
      background: rgba(0, 0, 0, 0.3) url("../../img/stop.svg") no-repeat center;
      background-size: 96px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all .5s ease-out;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &__video-title {
    line-height: 52px;
    font-size: 36px;
    color: #FFFFFF;
    padding: 48px 0 0 50px;
  }

  &__text {
    line-height: 37px;
    font-size: 24px;
    color: #404041;
  }

  &__inner {
    display: flex;
  }

  &__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    margin-left: 200px;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__btn {
    margin-top: 40px;
  }

  @media @desktop {
    &__video {
      flex: 0 0 425px;
    }

    &__inner {
      flex-direction: column;
    }

    &__video {
      align-self: center;
    }
  }

  @media @tablet {
    &__video {
      .size(306px, 205px);
      flex: 0 0 230px;
    }

    &__wrap-text {
      position: relative;
      left: unset;
      top: unset;
      width: 100%;
      box-sizing: border-box;
      height: auto;
      text-align: center;
      padding-bottom: 35px;
      background: none;
    }

    &__background {
      margin: 0;
      height: 250px;
    }

    &__video-title {
      padding-top: 0;
      font-size: 26px;
      line-height: 32px;
    }
  }

  @media @mobile {
    &__wrap-text {
      padding: 24px 15px;
    }
  }
}