.slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  &_header {
    margin-top: 3px;
    margin-bottom: 42px;
  }

  &_video {
    height: auto;
    padding-bottom: 90px;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  &__controls {
    position: absolute;
    left: 215px;
    top: 450px;
    z-index: 10;
  }

  &__arrow {
    content: "";
    display: inline-block;
    width: 50px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    &.prev {
      background-image: url("../../img/arrow-pointing.svg");
    }

    &.next {
      margin-left: 5px;
      background-image: url("../../img/arrow-pointing.svg");
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__dots-video {
    display: flex;
    width: 590px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 5px;
      display: flex;

      button {
        .size(15px);
        background-color: #fff;
        transition: transform, background-color .4s ease;
        border-radius: 50%;
        color: transparent;
        font-size: 1px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      &.slick-active button {
        transform: scale(1.5);
        background-color: #0070C9;
        transition: transform, background-color .4s ease;
        border: none;
      }
    }
  }

  @media @desktop {
    &__dots-video {
      width: 100%;
    }
  }

  @media @tablet {
    height: auto;

    &_header {
      background: rgba(241, 241, 241, 0.92);
      margin-top: 8px;
      margin-bottom: 0;

      .slide {
        height: 700px;
      }
    }

    &_video {
      padding-bottom: 0;
      height: 480px;
    }

    &__dots-video {
      top: 200px;
    }

    &__controls {
      top: 192px;
      left: 20px;
    }
  }
}