.social {
  display: inline;

  &__icon {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 50%;
    .size(32px);
    position: relative;
    overflow: hidden;

    transition: background .15s ease-in-out;

    &:before {
      position: absolute;
      .size(32px);
      content: "";
      left: -1px;
      top: -1px;
      background-color: #fff;
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background .15s ease-in-out;
    }

    &:hover {
      background: #fff;

      &:before {
        background: #062e66;
      }
    }

    &_vk {
      &:before {
        mask-image: url("../../img/vk-icon.svg");
        background-size: 16px;
      }
    }

    &_instagram {
      &:before {
        mask-image: url("../../img/instagram-icon.svg");
        background-size: 16px;
        mask-size: 20px;
      }
    }

    &_ok {
      &:before {
        mask-image: url("../../img/odnoklassniki-icon.svg");
        background-size: 16px;
        mask-size: 20px;
      }
    }

    &_fb {
      &:before {
        mask-image: url("../../img/fb-icon.svg");
      }
    }
  }
}