.stairs {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 35px 0;

  &__item {
    width: ~"calc(50% - 40px)";
    padding-top: 10px;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__text {
    line-height: 27px;
    font-size: 22px;
    color: #404041;
  }

  @media @desktop {
    &__item {
      width: 100%;
    }
  }
}