.success {
  &__image {
    position: relative;
    width: 277px;
    overflow: hidden;

    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &:before {
      position: absolute;
      width: 100%;
      height: 77px;
      bottom: -1px;
      left: 0;
      content: '';
      background: url("../../img/edge.svg") no-repeat;
      background-size: cover;
      z-index: 3;
    }

    &:after {
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0;
      left: 0;
      content: '';
      background: url("../../img/bg-red.svg") no-repeat;
      background-position: bottom;
      z-index: 1;
    }
  }
}