.success-slider {
  position: relative;
  padding: 0 70px;

  &__controls {
    position: absolute;
    content: '';
    background: url("../../img/arrow.svg") no-repeat;
    .size(44px);
    top: 75px;
    cursor: pointer;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__image {
    position: relative;
    //background: url("../../img/people-bg.png") no-repeat;
    background-position: bottom;
    width: 197px;
    overflow: hidden;
    height: 300px;
    display: flex;
    align-items: flex-end;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }

    &:before {
      position: absolute;
      width: 100%;
      height: 36px;
      bottom: 0;
      left: 0;
      content: '';
      background: url("../../img/edge.svg") no-repeat;
    }
  }

  &__link-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 11;
  }

  &__name {
    line-height: 27px;
    font-size: 22px;
    color: #0070C9;
  }

  &__subtitle {
    line-height: 20px;
    font-size: 16px;
    color: #7F7F7F;
    z-index: 1;
    position: relative;
  }

  &__history {
    position: relative;
    line-height: 25px;
    font-size: 16px;
    color: #404041;
    z-index: 1;
  }

  &__quote {
    position: relative;
    z-index: 0;
    height: 0;

    &:before {
      .size(46px);
      position: absolute;
      left: -20px;
      top: -37px;
      z-index: 0;
      content: '';
      background: url("../../img/left-quote.svg") no-repeat;
    }
  }

  &__link {
    line-height: 25px;
    font-size: 16px;
    color: #F44336;
    position: relative;
    text-decoration: none;

    &:after {
      background: url("../../img/arrow-fill.svg") no-repeat;
      width: 6px;
      height: 16px;
      right: -15px;
      top: 4px;
      position: absolute;
      content: "";
    }
  }

  &__slide {
    width: 340px;
    height: 655px;
    margin: 2px;
    position: relative;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  @media (max-width:550px) {
    padding: 0 35px;

    &__slide {
      height: 900px;
    }
  }
}