.tabs {

  &__links-pad {
    display: flex;

    &_product {
      border-bottom: 1px solid #11A9B7;
    }
  }

  &__link {
    background-color: #0070C9;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 4px;
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: background .15s ease-in-out;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #034899;
    }

    &:before {
      content: "";
      position: absolute;
      background: url("../../img/triangle.svg") no-repeat;
      background-size: contain;
      bottom: -2px;
      left: ~"calc(50% - 11px)";
      width: 22px;
      height: 15px;
      z-index: 2;
      opacity: 0;
      transition: opacity .15s ease-in-out;
    }

    &.active {
      background-color: #F44336;

      &:before {
        opacity: 1;
      }
    }
  }

  &__inner {
    padding-top: 4px;
  }

  &__content {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2e6da4;
    height: 500px;

    &.active {
      display: block;
    }
  }

  &__text-wrap {
    box-sizing: border-box;
    padding: 58px 54px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 36.68%, rgba(255, 255, 255, 0) 60.88%);
  }

  &__title {
    line-height: 43px;
    font-size: 36px;
    color: #232121;
    font-weight: 500;
    max-width: 526px;
  }

  &__text {
    line-height: 37px;
    font-size: 24px;
    color: #404041;
  }

  @media @desktop {
    &__inner {
      &_desktop {
        display: none;
      }
    }

    &__links-pad {
      flex-direction: column;
    }

    &__title {
      margin: 0;
    }

    &__link {
      margin: 2px 0;
      height: 51px;
      flex: 0 0 50px;
    }

    &__text-wrap {
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
      padding: 15px;
    }

    &__content {
      height: auto;
    }
  }
}