.text-page {
  color: #404041;
  line-height: 25px;
  font-size: 16px;

  &_padding {
    &_top {
      padding-top: 15px;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  p {
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  h3 {
    line-height: 27px;
    font-size: 22px;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  ul {
    line-height: 25px;
    font-size: 16px;
    padding-left: 20px;

    &>li {
      list-style: none;

      &:before {
        color: #F44336;
        content: "•";
        font-weight: bold;
        padding-right: 10px;
      }

      ul {
        &>li {
          list-style: none;

          &:before {
            content: "—";
            font-weight: normal;
            color: #232121;
          }
        }
      }
    }
  }

  .btn {
    margin-right: 21px;
  }
}