.year-slider {
  position: relative;
  padding: 0 70px;
  margin-top: 13px;

  &:before {
    width: 100%;
    height: 5px;
    background: #0070C9;
    content: "";
    position: absolute;
    left: 0;
    top: 184px;
  }

  &__controls {
    position: absolute;
    content: '';
    background: url("../../img/arrow.svg") no-repeat;
    .size(44px);
    top: 75px;
    cursor: pointer;
    background-size: 40px;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__image {
    height: 186px;
    background: #000;
    filter: brightness(50%);
    transition: filter .3s ease;

    img {
      .size(100%);
      object-fit: cover;
    }
  }

  &__slide {
    margin: 0 24px;
    overflow: hidden;
    box-sizing: border-box;
    width: 305px;
    position: relative;
    text-decoration: none;

    &:hover {
      .year-slider__image {
        filter: brightness(100%);
      }
    }

    &:after {
      position: absolute;
      top: 174px;
      left: 23px;
      background: url("../../img/flag.svg") no-repeat;
      background-size: contain;
      width: 19px;
      height: 32px;
      content: '';
    }
  }

  &__year {
    position: absolute;
    top: 47px;
    left: 16px;
    line-height: 98px;
    font-size: 60px;
    color: #FFFFFF;
  }

  &__slide-text {
    line-height: 29px;
    font-size: 16px;
    color: #767676;
    text-decoration: none;
    margin-top: 30px;
  }

  @media @mobile {
    padding: 0 25px;
  }

}